# dataset
dataset/

# python cache
__pycache__/
*.pyc

# virtual env
venv/
.env/
myenv/

# logs
# logs/
# *.log

# model weights
*.pth
*.pt
# 忽略整个 checkpoints
# checkpoints/*
# 但保留某个子目录
!checkpoints/checkpoints_resnet34_v6/
# 允许该子目录中的内容
!checkpoints/checkpoints_resnet34_v6/**

# system files
.DS_Store