# dataset
dataset/

# python cache
__pycache__/
*.pyc

# virtual env
venv/
.env/
myenv/

# logs
# logs/
# *.log

# model weights
*.pth
*.pt
# 忽略整个 checkpoints
# checkpoints/*
!checkpoints/checkpoints_resnet34_v6/best_f1_model.pth
!checkpoints/checkpoints_resnet34_v6_round_3/best_f1_model.pth
!checkpoints/checkpoints_resnet34_v6_round_final/best_f1_model.pth

# system files
.DS_Store